:root {
    --button-padding: 32px;
}

.header-root {
    display: flex;
    flex-direction: row;
    background-color: #242424;
    height: 7vh;
}

.header-left {
    width: 50vw;
    display: flex;
    flex-direction: row;
}

.header-right {
    width: 50vw;
    display: flex;
    flex-direction: row-reverse;
}

.header-button {
    width:15vw;
    background-color: #ffe082;
    border: none;
    color: #242424;
    text-decoration: none;
    cursor: pointer;
}

