.login-root {
    background-color:#121212;
    height: 93vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.login-container {
    -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.50);
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.50);
    height: 60vh;
    width: 60vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.login-app-info {
    background-color: #9fa8da;
    color: #242424;
    display: flex;
    flex: 1.5;
    flex-direction: column;
    padding: 2em 2em;

}

.login-app-info h1 {
    font-size: 2em;
    margin-top: 1em;
    margin-bottom: 1em;
}

.login-app-info h2 {
    font-size: 1.1em;
    margin-bottom: 0.5em;
}

.login-input {
    background-color: #242424;
    color: #e8eaf6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3em 3em;
    flex: 2;
}

.login-input h1 {
    font-size: 2.4em;
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-input input {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    padding: 0.5em 0.5em;
}

.login-input input[type=submit] {
    background-color: #ffe082;
    border: none;
    color: #242424;
    padding: 16px 32px;
    text-decoration: none;
    cursor: pointer;
}
