:root {
    --button-padding: 32px;
}

.header-root {
    display: flex;
    flex-direction: row;
    background-color: #121212;
    height: 5vh;
    padding: 3vh 2vh 2vh 4vh;
}

#header-logo {
    margin-right: 15px;
}

.header-left img {
    max-width: 40px;
    max-height: 40px;
    cursor: pointer;
}

.header-left h1 {
    font-size: 1.8em;
    color: #fff8e1;
}

.header-left {
    flex: 3;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

.header-right {
    flex: 5;
    display: flex;
    flex-direction: row-reverse;
}

.header-link {
    margin: -2px 4px;
    width:12vw;
    background-color: #ffe082;
    border: none;
    color: #242424;
    text-decoration: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-button {
    margin: -2px 4px;
    width:12vw;
    background-color: #ffe082;
    border: none;
    color: #242424;
    text-decoration: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

