.home-container {
    background-color: #121212;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 88vh;
    color: #e8eaf6;
}

.home-logo {
    flex: 2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 8vh;
    margin-top: 30px;
}

.home-logo-img {
    max-width: 200px;
    max-height: 200px;
}

.home-description {
    flex: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-description h2 {
    margin-bottom: 20px;
    font-size: 2.5em;
}

.home-description h3 {
    font-weight: 300;
    margin-bottom: 100px;
    font-size: 1.6em;
}

.home-links {
    flex: 1.5;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.home-links-img {
    padding: 15px 15px;
    max-width: 64px;
    max-height: 32px;
}

.home-resources {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.home-resources h4 {
    font-weight: 200;
    font-size: 1em;
}