.login-root {
    background-color:#121212;
    height: 95vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.login-container {
    -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.50);
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.50);
    height: 60vh;
    width: 60vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.login-app-info {
    background-color: #9fa8da;
    color: #242424;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em 2em;
}

.login-app-info h2 {
    text-align: center;
    margin: 25px 0px;
    font-size: 1.1em;
}

.login-app-info-image {
    max-width: 170px;
    max-height: 170px;
}

.login-input {
    background-color: #242424;
    color: #e8eaf6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3em 4em;
    flex: 2;
}

.login-input h1 {
    font-weight: 300;
    font-size: 2.4em;
    margin-bottom: 10px;
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-input input[type=text],input[type=password] {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    padding: 0.5em 0.5em;
    border: 3px white solid;
}

.login-input input[type=text]:focus , input[type=password]:focus {
    outline: none;
    border: 3px #7986cb solid;
}

.login-input input[type=submit] {
    margin-top: 0.5em;
    font-size: 1.1em;
    background-color: #9fa8da;
    border: none;
    color: #121212;
    padding: 16px 32px;
    text-decoration: none;
    cursor: pointer;
}

/* .login-input input[type=sumbit]:hover {
    outline: none;
    background-color: #121212;
    color: white;
} */

.login-error {
    margin: 2vh 0vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
