.user-root {
    background-color: #292929;
    color: #e8eaf6;
    display: flex;
    flex: 1.5;
    flex-direction: column;
    padding: 2em 2em;
    align-items: center;
}

.user-avatar {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 4vh;
}

.user-avatar-img {
    width: 250px;
    height: 250px;
    margin: 3vh 0vh;
    clip-path: circle(120px at center);
}

.user-avatar h1 {
    font-size: 2em;
    font-weight: 400;
}

.user-info {
    display: flex;
    flex-direction: column;
    padding: 2.5vh 0.5vw;
    width: 100%;
}

.user-info h1 {
    font-size: 1.2em;
    font-weight: 300;
    padding: 0.20em 0em;
}